<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>A Place to Buy Stuff</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>
