
{{!-- displays item info --}}

<div class="card-content">
  {{#each item}}
    <div class="row">
      <div class="col s12 m4">
        <div class="card main">
          <div class="card-image">
            <img src="assets/images/luxury-home-living-room-tray-ceiling.jpg">
          </div>
          <div class="card-action">
            <p class="item product-name">{{this.name}}</p>
            <p class="item description">{{this.description}}</p>
            <p class="item price">{{this.price}}</p>
            <button class="btn waves-effect waves-light" type="submit" name="action">Add to cart
                <i class="material-icons right">add_shopping_cart</i>
              </button>    
          </div>
        </div>
      </div>
    </div>
  {{/each}}
<ul>

<script type="text/javascript">
  $(".productname").text()

  $(".save").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
  
    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $(this).data("id");
    console.log(id);

    let saveditem = {
      saved: true
    };

    // Send the PUT request.
    $.ajax("/api/items/" + id, {
      type: "PUT",
      data: saveditem
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".addToCart").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
  
    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $(this).data("id");
    console.log(id);

    let addeditem = {
      inCart: true
    };

    // Send the PUT request.
    $.ajax("/api/items/" + id, {
      type: "PUT",
      data: addeditem
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".buyItem").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
  
    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $(this).data("id");
    console.log(id);

    let boughtItem = {
      quatity: 
    };

    // Send the PUT request.
    $.ajax("/api/items/" + id, {
      type: "PUT",
      data: boughtItem
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
