<nav class="grey darken-3">
  <div class="nav-wrapper">
    <ul>
      <li>
        <div class="center row">
          <div class="col 12 ">
            <div class="row" id="topbarsearch">
              <div class="input-field col s12 s6 text">
                <i class="green-text material-icons prefix">search</i>
                <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete text">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="right">
      <li><a href="/"><i class="home green-text material-icons left" id="home">home</i>Home</a></li>
      <li><a href="/cart"><i class="material-icons left shopping-cart">shopping_cart</i>Your cart</a></li>
      <li><a class='btn red small-text' href='/inventory'><i
          class="material-icons left shopping-cart">people_outline</i>Admin</a></li>
    </ul>
  </div>
</nav>

<!----->

<!--Second navbar-->
<nav class="white nav2">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left"><img src="/assets/images/logo.png" width="150px" height="60px" /></a>

    <ul id="nav-mobile" class="right">
      <li><a href="/kitchen" class="green-text menu">Kitchen</a></li>
      <li><a href="/bathroom" class="black-text menu">Bedroom</a></li>
      <li><a href="/living-room" class="green-text menu">Living room</a></li>
      <li><a href="/bathroom" class="black-text menu">Bathroom</a></li>
      <li><a href="/outdoors" class="green-text menu">Outdoors</a></li>
    </ul>
  </div>
</nav>


<!--Upload product form-->

<div class="container">
  <div class="row ">
    <div class="col s12 m12">
      <div class="card center align add-item-form">
        <div class="col s12 m12">
          <h2 class="header center red-text ">Fill out the form to add a new product</h2>



          <!--Upload product form-->

          <form id="item-upload" action="/inventory/upload" method="POST" enctype="multipart/form-data"
            class="col s10 m10">
            <div class="row">
              <div class="input-field col s6">
                <input name="name" type="text" />
                <label for="name">Name </label>
              </div>

              <div class="input-field col s6">
                <label for="description">Description</label>
                <textarea id="descriptionText" name="description" class="materialize-textarea"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input name="price" type="number" />
                <label for="price">Price</label>
              </div>
              <div class="input-field col s6">
                <input type="number" name="qty" />
                <label for="qty">Quantity</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input type="text" name="category" />
                <label for="category">Product Category</label>
              </div>
              <div class="file-field input-field col s6">
                <div class="btn">
                  <span>File</span>
                  <input name="photo" type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="submit">
              Submit
              <i class="material-icons right">send</i>
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->

<footer class="page-footer white">
  <div class="container">
    <div class="row center align">
      <div class="col l12 s12">
        <img src="/assets/images/logo.png" width="150px" height="60px" />
        <h5 class="green-text">Elegant living costs less with Elite Modern</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright black-text">
    © Copyright Elite Modern
  </div>
</footer>