<nav class="grey darken-3">
  <div class="nav-wrapper">
    <ul>
      <li>
        <div class="center row">
          <div class="col 12 ">
            <div class="row" id="topbarsearch">
              <div class="input-field col s12 s6 text">
                <i class="green-text material-icons prefix">search</i>
                <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete text">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="right">

      <li><a href="/"><i class="home green-text material-icons left" id="home">home</i>Home</a></li>
      <li><a href="/cart"><i class="material-icons left shopping-cart">shopping_cart</i>Your cart</a></li>
      <li><a href="#" class="green-text"><i class="material-icons left">input</i>Login</a></li>
      <li><a href="#"><i class="material-icons left">person_add</i>Signup</li>
      <a class='dropdown-trigger btn red small-text' href='#' data-target='dropdown1'><i
          class="material-icons left shopping-cart">people_outline</i>My account</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#" class="red-text login">Login</a></li>
        <li><a href="#" class="red-text signup">Sign up</a></li>
        <li><a href="/productupload" class="red-text upload">Admin</a></li>
      </ul>
    </ul>
  </div>
</nav>

<nav class="white nav2">
  <div class="nav-wrapper">
    <a href="" class="brand-logo left"><img src="assets/images/logo.png" width="150px" height="60px" /></a>

    <ul id="nav-mobile" class="right">
      <li><a href="/kitchen" class="green-text menu">Kitchen</a></li>
      <li><a href="/bedroom" class="black-text menu">Bedroom</a></li>
      <li><a href="/living-room" class="green-text menu">Living room</a></li>
      <li><a href="/bathroom" class="black-text menu">Bathroom</a></li>
      <li><a href="/outdoors" class="green-text menu">Outdoors</a></li>
    </ul>
  </div>
</nav>