
.menu{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.card-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.header{
    font-size: xx-large;
}

.card-title {
font-family: Arial, Helvetica, sans-serif;
}

/*box-shadow removes borders from cards, makes design look cleaner*/
.item, .login, .horizontal, .initial, .product-display, .nav2 {
    box-shadow: none;
}

.login-form{
 margin-top: -50px;
}

.thank-you, .checkout-form {
    margin-top: -30px;
}

.payment-form {
    margin-top: -60px;
}


h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:goldenrod;
}

.signup-form{
    margin-top: -100px;
}

.account, .currency{
    font-size: x-small;
}

.currency{
    box-shadow:none;

    
}